body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

h1 {
    font-weight: 900;
    text-align: center;
    background-color: dodgerblue;
    margin: 0;
}

img {
    max-width: 75%;
}

.layout {
    display: flex;
    justify-content: center;
}

.panel {
    width: 70%;
    padding: 1rem;
    background-color: #424242;
}

.picPanel {
    width: 30%;
    padding: 1rem;
    background-color: #252525;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px)
{
    .layout{
        display: block;
    }
    .panel {
        width: 100%;
    }
    .picPanel {
        width: 100%;
    }
}